Repository mkb79/Audible: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, check-toml, check-yaml, ruff-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: darglint
        name: darglint
        entry: darglint
        language: system
        types: [python]
        stages: [manual]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: ruff-check
        name: ruff check
        entry: ruff check
        language: system
        types: [python]
        require_serial: true
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier

another test
  pyproject.toml
Due: check-toml

next
  .github/workflows/tests.yml
Due: check-yaml

another test
  .github/workflows/tests.yml
Due: check-yaml

ignore errors on coverage.xml creation
  .github/workflows/tests.yml
Due: check-yaml

Add uv-pre-commit hook to pre-commit config
  .pre-commit-config.yaml
Due: check-yaml

update gh action release workflow to use uv
  .github/workflows/release.yml
Due: check-yaml

ci: switch to uv (#722)
  .github/workflows/constraints.txt
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  docs/source/conf.py
  noxfile.py
  poetry.lock
  pyproject.toml
  src/audible/__init__.py
  uv.lock
Due: ruff-format, check-toml, check-yaml, ruff-check

Update Dependabot configuration for weekly and grouped updates
  .github/dependabot.yml
Due: check-yaml

Update Dependabot configuration for weekly and grouped updates (#723)
  .github/dependabot.yml
Due: check-yaml

Add relative_files option to pyproject.toml
  pyproject.toml
Due: check-toml

Update coverage report steps in workflow file
  .github/workflows/tests.yml
Due: check-yaml

ci: relative paths on coverage run (#724)
  .github/workflows/tests.yml
  pyproject.toml
Due: check-toml, check-yaml

Update package ecosystem from pip to uv
  .github/dependabot.yml
Due: check-yaml

Update dependabot package ecosystem from pip to uv (#725)
  .github/dependabot.yml
Due: check-yaml

Update dependabot.yml
  .github/dependabot.yml
Due: check-yaml

Update dependabot.yml (#727)
  .github/dependabot.yml
Due: check-yaml

Add support for Python 3.13 and set to default
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .readthedocs.yml
  pyproject.toml
Due: check-toml, check-yaml

Add support for Python 3.13 (#728)
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .readthedocs.yml
  pyproject.toml
Due: check-toml, check-yaml

Update Python version range and dependencies in uv.lock
  uv.lock
Due: none

Update Python version range and dependencies in uv.lock (#729)
  uv.lock
Due: none

Update README.md
  README.md
Due: none

Update README.md (#735)
  README.md
Due: none

Lower required uv version to >=0.7.1 in pyproject.toml
  pyproject.toml
Due: check-toml

Lower required uv version to >=0.7.1 in pyproject.toml (#736)
  pyproject.toml
Due: check-toml

Refactor Dependabot configuration: simplify group definitions and add open pull request limits.
  .github/dependabot.yml
Due: check-yaml

Refactor Dependabot configuration: simplify group definitions and add… (#739)
  .github/dependabot.yml
Due: check-yaml

Simplify Dependabot configuration: fix nested group definition for GitHub Actions updates.
  .github/dependabot.yml
Due: check-yaml

Update dependabot config (#740)
  .github/dependabot.yml
Due: check-yaml

Update dev dependencies and Python version markers in uv.lock
  uv.lock
Due: none

Update dev dependencies
  uv.lock
Due: none

Add type ignore comment to fix mypy validation error in auth.py
  src/audible/auth.py
Due: ruff-format, ruff-check

Adjust type ignore comment for crypter.to_file to fix mypy validation error in auth.py
  src/audible/auth.py
Due: ruff-format, ruff-check

Update certifi dependency to version 2025.6.15 in uv.lock
  uv.lock
Due: none

build(deps-dev): Update dev dependencies and Python version markers in uv.lock (#744)
  src/audible/auth.py
  uv.lock
Due: ruff-format, ruff-check

ci: Add workflow for uv lock file maintenance
  .github/workflows/uv-lock-maintenance.yml
Due: check-yaml

ci: standardize newline handling in uv-lock-maintenance workflow
  .github/workflows/uv-lock-maintenance.yml
Due: check-yaml

ci: Add workflow for uv lock file maintenance (#745)
  .github/workflows/uv-lock-maintenance.yml
Due: check-yaml

fix(register): handle missing fields in the registration response
  CHANGELOG.md
  src/audible/register.py
Due: ruff-format, ruff-check

fix(register.py): handle missing fields in the registration response (#797)
  CHANGELOG.md
  src/audible/register.py
Due: ruff-format, ruff-check
