Repository mkb79/Audible: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, check-toml, check-yaml, ruff-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: darglint
        name: darglint
        entry: darglint
        language: system
        types: [python]
        stages: [manual]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: ruff-check
        name: ruff check
        entry: ruff check
        language: system
        types: [python]
        require_serial: true
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier

refactor(auth): route login through modular services
  src/audible/__init__.py
  src/audible/auth.py
  src/audible/login.py
  src/audible/register.py
  src/audible/registration_service.py
Due: ruff-format, ruff-check

fix(device): correct Android UA format generation
  src/audible/device.py
Due: ruff-format, ruff-check

test(integration): request product attrs for library check
  test_device_integration.py
Due: ruff-format, ruff-check

chore: merge upstream changes from user refactoring
  src/audible/login_service/challenges/approval_alert.py
  src/audible/login_service/challenges/mfa_choice.py
  src/audible/login_service/challenges/otp.py
  src/audible/login_service/login.py
  src/audible/login_service/soup_page.py
  tests/login_service/mocks.py
Due: ruff-format, ruff-check

refactor: replace logging f-strings with % formatting
  src/audible/auth.py
  src/audible/login_service/challenges/approval_alert.py
  src/audible/login_service/challenges/mfa_choice.py
  src/audible/login_service/challenges/otp.py
  src/audible/login_service/login.py
  src/audible/login_service/pkce.py
  src/audible/register.py
Due: ruff-format, ruff-check

refactor: reduce cyclomatic complexity to <=10
  src/audible/login_service/challenges/mfa_choice.py
  src/audible/login_service/challenges/otp.py
Due: ruff-format, ruff-check

style: sort __all__ exports alphabetically (RUF022)
  src/audible/login_service/__init__.py
  src/audible/login_service/challenges/__init__.py
Due: ruff-format, ruff-check

fix: resolve remaining ruff errors (D205, F821, D417, S105, S101, A005)
  src/audible/auth.py
  src/audible/json/__init__.py
  src/audible/login_service/base.py
  src/audible/login_service/challenges/captcha.py
  src/audible/login_service/challenges/mfa_choice.py
  src/audible/login_service/login.py
  src/audible/login_service/soup_page.py
Due: ruff-format, ruff-check

docs: fix pydoclint errors in challenge handlers
  src/audible/login_service/challenges/approval_alert.py
  src/audible/login_service/challenges/captcha.py
  src/audible/login_service/challenges/cvf.py
  src/audible/login_service/challenges/mfa_choice.py
  src/audible/login_service/challenges/otp.py
Due: ruff-format, ruff-check

docs: fix pydoclint errors in base.py and soup_page.py
  src/audible/login_service/base.py
  src/audible/login_service/soup_page.py
Due: ruff-format, ruff-check

docs: fix remaining pydoclint errors in base.py
  src/audible/login_service/base.py
Due: ruff-format, ruff-check

fix: resolve mypy type errors
  src/audible/login_service/challenges/captcha.py
  src/audible/login_service/challenges/mfa_choice.py
  src/audible/login_service/soup_page.py
  src/audible/register.py
Due: ruff-format, ruff-check

fix: add missing NavigableString import and device None checks
  src/audible/auth.py
  src/audible/login_service/challenges/captcha.py
Due: ruff-format, ruff-check

fix: suppress remaining mypy errors with type: ignore
  src/audible/login.py
  src/audible/login_service/base.py
Due: ruff-format, ruff-check

refactor(login)!: consolidate login functionality and finalize callback API
  CHANGELOG.md
  src/audible/__init__.py
  src/audible/auth.py
  src/audible/login.py
  src/audible/login/__init__.py
  src/audible/login/base.py
  src/audible/login/challenges/__init__.py
  src/audible/login/challenges/approval_alert.py
  src/audible/login/challenges/captcha.py
  src/audible/login/challenges/cvf.py
  src/audible/login/challenges/mfa_choice.py
  src/audible/login/challenges/otp.py
  src/audible/login/exceptions.py
  src/audible/login/external.py
  src/audible/login/login.py
  src/audible/login/metadata1.py
  src/audible/login/pkce.py
  src/audible/login/soup_page.py
  src/audible/login/url_builder.py
  tests/login/mocks.py
Due: ruff-format, ruff-check

refactor: rename audible.json and audible.crypto to *_provider
  CHANGELOG.md
  README.md
  docs/source/intro/install.rst
  docs/source/modules/audible.rst
  examples/test_auth_integration.py
  examples/test_crypto_autodetect.py
  examples/test_crypto_explicit.py
  examples/test_json_autodetect.py
  examples/test_json_explicit.py
  pyproject.toml
  src/audible/aescipher.py
  src/audible/auth.py
  src/audible/client.py
  src/audible/crypto_provider/__init__.py
  src/audible/crypto_provider/cryptography_provider.py
  src/audible/crypto_provider/legacy_provider.py
  src/audible/crypto_provider/protocols.py
  src/audible/crypto_provider/pycryptodome_provider.py
  src/audible/crypto_provider/registry.py
  src/audible/json_provider/__init__.py
  src/audible/json_provider/exceptions.py
  src/audible/json_provider/orjson_provider.py
  src/audible/json_provider/protocols.py
  src/audible/json_provider/rapidjson_provider.py
  src/audible/json_provider/registry.py
  src/audible/json_provider/stdlib_provider.py
  src/audible/json_provider/ujson_provider.py
  src/audible/login.py
  tests/conftest.py
  tests/test_auth.py
  tests/test_crypto.py
  tests/test_json.py
  tests/test_json_fallback.py
  tests/test_json_integration.py
  tests/test_json_provider_switching.py
Due: ruff-format, check-toml, ruff-check

fix: update remaining test imports to use json_provider path
  tests/test_json.py
Due: ruff-format, ruff-check

fix: update docstring examples to use new module paths
  src/audible/crypto_provider/cryptography_provider.py
  src/audible/crypto_provider/legacy_provider.py
  src/audible/crypto_provider/protocols.py
  src/audible/crypto_provider/pycryptodome_provider.py
  src/audible/crypto_provider/registry.py
  src/audible/json_provider/exceptions.py
  src/audible/json_provider/orjson_provider.py
  src/audible/json_provider/rapidjson_provider.py
  src/audible/json_provider/registry.py
  src/audible/json_provider/stdlib_provider.py
  src/audible/json_provider/ujson_provider.py
Due: ruff-format, ruff-check

fix: update protocol docstring example to use json_provider import
  src/audible/json_provider/protocols.py
Due: ruff-format, ruff-check

refactor: rename json and crypto modules to *_provider to avoid naming conflicts (#830)
  CHANGELOG.md
  README.md
  docs/source/intro/install.rst
  docs/source/modules/audible.rst
  examples/test_auth_integration.py
  examples/test_crypto_autodetect.py
  examples/test_crypto_explicit.py
  examples/test_json_autodetect.py
  examples/test_json_explicit.py
  pyproject.toml
  src/audible/aescipher.py
  src/audible/auth.py
  src/audible/client.py
  src/audible/crypto_provider/__init__.py
  src/audible/crypto_provider/cryptography_provider.py
  src/audible/crypto_provider/legacy_provider.py
  src/audible/crypto_provider/protocols.py
  src/audible/crypto_provider/pycryptodome_provider.py
  src/audible/crypto_provider/registry.py
  src/audible/json_provider/__init__.py
  src/audible/json_provider/exceptions.py
  src/audible/json_provider/orjson_provider.py
  src/audible/json_provider/protocols.py
  src/audible/json_provider/rapidjson_provider.py
  src/audible/json_provider/registry.py
  src/audible/json_provider/stdlib_provider.py
  src/audible/json_provider/ujson_provider.py
  src/audible/login.py
  tests/conftest.py
  tests/test_auth.py
  tests/test_crypto.py
  tests/test_json.py
  tests/test_json_fallback.py
  tests/test_json_integration.py
  tests/test_json_provider_switching.py
Due: ruff-format, check-toml, ruff-check

fix(device): correct import path after json module rename
  src/audible/device.py
Due: ruff-format, ruff-check

docs: update module reference after restructuring
  docs/source/modules/audible.rst
Due: none

style: apply ruff formatting fixes
  CHANGELOG.md
  src/audible/json_provider/__init__.py
  src/audible/login/external.py
Due: ruff-format, ruff-check

docs(login): fix all pydoclint violations in login module
  src/audible/login/external.py
  src/audible/login/login.py
  tests/login/mocks.py
Due: ruff-format, ruff-check

refactor(device,login): simplify device API and login flow
  .ai-plans/device-emulation-roadmap.md
  pyproject.toml
  src/audible/auth.py
  src/audible/device.py
  src/audible/login/__init__.py
  src/audible/login/external.py
  src/audible/login/login.py
  src/audible/register.py
  tests/test_auth.py
  tests/test_device.py
  tests/test_json_provider_switching.py
  uv.lock
Due: ruff-format, check-toml, ruff-check

chore: add Claude Code planning files
  .claude/plans/expressive-finding-hamming-agent-f91fce7c.md
Due: none

chore(release): 0.11.0
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .readthedocs.yml
  AGENTS.md
  CHANGELOG.md
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  docs/source/intro/install.rst
  pyproject.toml
  renovate.json5
  src/audible/auth.py
  src/audible/register.py
  uv.lock
Due: ruff-format, check-toml, check-yaml, ruff-check

fix(deps): clear safety advisories without major bumps
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: check-toml

fix(ci): reuse existing nox venv in coverage job
  .github/workflows/tests.yml
Due: check-yaml

Drop Python 3.10, add 3.14, and modernize dependencies (#855)
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .readthedocs.yml
  AGENTS.md
  CHANGELOG.md
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  docs/source/intro/install.rst
  pyproject.toml
  renovate.json5
  src/audible/auth.py
  src/audible/register.py
  uv.lock
Due: ruff-format, check-toml, check-yaml, ruff-check

ci: allow Dependabot for Claude and make PR review on-demand
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: check-yaml

ci: allow Dependabot for Claude and make PR review on-demand (#856)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: check-yaml

feat(auth): switch to x-amz-access-token and guard async token refresh
  CHANGELOG.md
  src/audible/auth.py
  src/audible/register.py
  src/audible/utils.py
Due: ruff-format, ruff-check

test(auth): cover x-amz-access-token bearer auth and async refresh lock
  tests/test_auth_access_token.py
Due: ruff-format, ruff-check

feat(auth): switch to x-amz-access-token and guard async token refresh (#857)
  CHANGELOG.md
  src/audible/auth.py
  src/audible/register.py
  src/audible/utils.py
  tests/test_auth_access_token.py
Due: ruff-format, ruff-check

fix(json): honor ensure_ascii in the orjson provider
  src/audible/json_provider/orjson_provider.py
  tests/test_json.py
Due: ruff-format, ruff-check

chore(nox): default UV_VENV_CLEAR so repeated local runs work
  noxfile.py
Due: ruff-format, ruff-check

chore(nox): default UV_VENV_CLEAR so repeated local runs work (#859)
  noxfile.py
Due: ruff-format, ruff-check

docs(changelog): record the orjson ensure_ascii fix
  CHANGELOG.md
Due: none

fix(json): honor ensure_ascii in the orjson provider (#858)
  CHANGELOG.md
  src/audible/json_provider/orjson_provider.py
  tests/test_json.py
Due: ruff-format, ruff-check
