Repository mkb79/Audible: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, check-toml, check-yaml, ruff-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: darglint
        name: darglint
        entry: darglint
        language: system
        types: [python]
        stages: [manual]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: ruff-check
        name: ruff check
        entry: ruff check
        language: system
        types: [python]
        require_serial: true
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier

feat(json): integrate JSON providers into codebase (Phase 3/8)
  CHANGELOG.md
  README.md
  examples/test_json_autodetect.py
  examples/test_json_explicit.py
  src/audible/aescipher.py
  src/audible/auth.py
  src/audible/login.py
Due: ruff-format, ruff-check

feat(json): optimize client.py HTTP response parsing (Phase 4/9)
  CHANGELOG.md
  ai-plans/json-backend-implementation-plan.md
  src/audible/client.py
Due: ruff-format, ruff-check

fix(json): remove module-level provider caching for dynamic switching
  ai-plans/json-backend-implementation-plan.md
  src/audible/aescipher.py
  src/audible/auth.py
  src/audible/client.py
  src/audible/login.py
  tests/test_json_provider_switching.py
Due: ruff-format, ruff-check

test(json): use fixtures instead of hardcoded auth data
  tests/conftest.py
  tests/test_json_provider_switching.py
Due: ruff-format, ruff-check

fix(json): add mypy type annotations to tests and providers
  src/audible/json/rapidjson_provider.py
  tests/test_json.py
  tests/test_json_fallback.py
  tests/test_json_integration.py
  tests/test_json_provider_switching.py
Due: ruff-format, ruff-check

refactor(nox): replace uv_extras with extra-deps dependency-group
  noxfile.py
  pyproject.toml
  uv.lock
Due: ruff-format, check-toml, ruff-check

fix(docs): remove doctest skip markers and fix all nox suite issues
  .darglintrc
  .pre-commit-config.yaml
  README.md
  ai-plans/json-backend-implementation-plan.md
  examples/listening_stats.py
  examples/test_json_autodetect.py
  examples/test_json_explicit.py
  pyproject.toml
  src/audible/auth.py
  src/audible/client.py
  src/audible/json/__init__.py
  src/audible/json/orjson_provider.py
  src/audible/json/rapidjson_provider.py
  src/audible/json/registry.py
  src/audible/json/stdlib_provider.py
  src/audible/json/ujson_provider.py
  src/audible/login.py
  tests/test_json.py
  tests/test_json_fallback.py
  tests/test_json_integration.py
  tests/test_json_provider_switching.py
Due: ruff-format, check-toml, check-yaml, ruff-check

refactor: replace darglint with pydoclint for docstring validation
  .darglint
  .pre-commit-config.yaml
  CHANGELOG.md
  pyproject.toml
  src/audible/aescipher.py
  src/audible/auth.py
  src/audible/crypto/cryptography_provider.py
  src/audible/crypto/legacy_provider.py
  src/audible/crypto/protocols.py
  src/audible/crypto/pycryptodome_provider.py
  src/audible/metadata.py
  uv.lock
Due: ruff-format, check-toml, check-yaml, ruff-check

fix: improve type safety and documentation consistency
  src/audible/aescipher.py
  src/audible/crypto/cryptography_provider.py
  src/audible/crypto/legacy_provider.py
  src/audible/crypto/protocols.py
  src/audible/crypto/pycryptodome_provider.py
Due: ruff-format, ruff-check

style: remove unnecessary quotes from type annotation (UP037)
  src/audible/aescipher.py
Due: ruff-format, ruff-check

refactor: replace darglint with pydoclint for docstring validation (#826)
  .darglint
  .pre-commit-config.yaml
  CHANGELOG.md
  pyproject.toml
  src/audible/aescipher.py
  src/audible/auth.py
  src/audible/crypto/cryptography_provider.py
  src/audible/crypto/legacy_provider.py
  src/audible/crypto/protocols.py
  src/audible/crypto/pycryptodome_provider.py
  src/audible/metadata.py
  uv.lock
Due: ruff-format, check-toml, check-yaml, ruff-check

fix(docs): move JSON provider __init__ docstrings to class-level
  src/audible/json/orjson_provider.py
  src/audible/json/rapidjson_provider.py
  src/audible/json/ujson_provider.py
Due: ruff-format, ruff-check

refactor: remove json/protocols.py from pydoclint exclude
  .pre-commit-config.yaml
Due: check-yaml

chore: remove obsolete .darglintrc file
  .darglintrc
Due: none

docs(plan): update JSON backend plan to reflect actual implementation
  ai-plans/json-backend-implementation-plan.md
Due: none

chore: remove ai-plans directory
  ai-plans/json-backend-implementation-plan.md
Due: none

docs: add JSON provider documentation to install.rst
  docs/source/intro/install.rst
Due: none

fix(security): address security review findings in JSON providers
  src/audible/client.py
  src/audible/json/orjson_provider.py
  src/audible/json/rapidjson_provider.py
  src/audible/json/registry.py
  src/audible/json/stdlib_provider.py
  src/audible/json/ujson_provider.py
Due: ruff-format, ruff-check

style: apply pre-commit formatting to registry.py
  src/audible/json/registry.py
Due: ruff-format, ruff-check

fix(style): replace f-string with %-formatting in logging statement
  src/audible/client.py
Due: ruff-format, ruff-check

refactor: improve code quality based on review feedback
  src/audible/client.py
  src/audible/json/rapidjson_provider.py
  src/audible/json/ujson_provider.py
Due: ruff-format, ruff-check

feat(json): add unified exception hierarchy for all JSON providers
  src/audible/aescipher.py
  src/audible/client.py
  src/audible/json/__init__.py
  src/audible/json/exceptions.py
  src/audible/json/orjson_provider.py
  src/audible/json/protocols.py
  src/audible/json/rapidjson_provider.py
  src/audible/json/stdlib_provider.py
  src/audible/json/ujson_provider.py
Due: ruff-format, ruff-check

fix(docs): fix xdoctest examples in JSON exceptions
  src/audible/json/exceptions.py
Due: ruff-format, ruff-check

docs: add mandatory pre-push nox requirement to AGENTS.md and CLAUDE.md
  AGENTS.md
  CLAUDE.md
Due: none

perf(client): optimize request parameter lookup and debug logging
  CHANGELOG.md
  src/audible/client.py
Due: ruff-format, ruff-check

feat(json): add high-performance JSON backend providers with 2-5x performance gains (#827)
  AGENTS.md
  CHANGELOG.md
  CLAUDE.md
  README.md
  ai-plans/claude-code-review-fixes.md
  docs/source/intro/install.rst
  examples/listening_stats.py
  examples/test_json_autodetect.py
  examples/test_json_explicit.py
  noxfile.py
  pyproject.toml
  src/audible/aescipher.py
  src/audible/auth.py
  src/audible/client.py
  src/audible/json/__init__.py
  src/audible/json/exceptions.py
  src/audible/json/orjson_provider.py
  src/audible/json/protocols.py
  src/audible/json/rapidjson_provider.py
  src/audible/json/registry.py
  src/audible/json/stdlib_provider.py
  src/audible/json/ujson_provider.py
  src/audible/login.py
  tests/conftest.py
  tests/test_json.py
  tests/test_json_fallback.py
  tests/test_json_integration.py
  tests/test_json_provider_switching.py
  uv.lock
Due: ruff-format, check-toml, ruff-check

refactor: unify test structure - move all unit tests to tests/unit/
  tests/integration/__init__.py
  tests/unit/__init__.py
  tests/unit/test_auth.py
  tests/unit/test_crypto.py
  tests/unit/test_json.py
  tests/unit/test_json_fallback.py
  tests/unit/test_json_integration.py
  tests/unit/test_json_provider_switching.py
  tests/unit/test_main.py
Due: ruff-format, ruff-check

refactor: replace hardcoded test passwords with fixtures
  tests/unit/test_json_provider_switching.py
  tests/unit/test_utils.py
Due: ruff-format, ruff-check

docs: update ai-plans to reflect Phase 1 completion and master merge
  ai-plans/EXECUTIVE_SUMMARY.md
  ai-plans/MASTER_PLAN.md
  ai-plans/README.md
Due: none

fix: add type annotations to test files and fix formatting issues
  ai-plans/MASTER_PLAN.md
  tests/unit/test_client_helpers.py
  tests/unit/test_exceptions.py
  tests/unit/test_json_provider_switching.py
  tests/unit/test_localization.py
  tests/unit/test_logging.py
  tests/unit/test_utils.py
Due: ruff-format, ruff-check

fix: add typeguard to mypy dependencies to resolve import error
  pyproject.toml
  tests/unit/test_utils.py
  uv.lock
Due: ruff-format, check-toml, ruff-check

fix: resolve pre-commit linting issues
  tests/unit/test_exceptions.py
  tests/unit/test_localization.py
  tests/unit/test_logging.py
  tests/unit/test_utils.py
Due: ruff-format, ruff-check

refactor: replace all hardcoded credentials with fixtures
  tests/conftest.py
  tests/unit/test_auth.py
  tests/unit/test_utils.py
Due: ruff-format, ruff-check

test: complete Phase 2 coverage improvements (72% achieved)
  pyproject.toml
  tests/unit/test_auth.py
  tests/unit/test_client.py
  uv.lock
Due: ruff-format, check-toml, ruff-check

fix: resolve pre-commit linting issues
  tests/unit/test_auth.py
  tests/unit/test_client.py
Due: ruff-format, ruff-check

test: add aescipher tests (82% coverage achieved)
  tests/unit/test_aescipher.py
Due: ruff-format, ruff-check

fix: resolve ruff linting issues in test_aescipher.py
  tests/unit/test_aescipher.py
Due: ruff-format, ruff-check

fix: add noqa annotations for test password strings
  tests/unit/test_aescipher.py
Due: ruff-format, ruff-check

test: add register tests (100% coverage achieved!)
  tests/unit/test_register.py
Due: ruff-format, ruff-check

refactor: migrate register tests to pytest-httpx and organize fixtures
  pyproject.toml
  tests/fixtures/__init__.py
  tests/fixtures/register_fixtures.py
  tests/unit/test_register.py
  uv.lock
Due: ruff-format, check-toml, ruff-check
