Repository mkb79/Audible: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, check-toml, check-yaml, ruff-check

ruff-format:
  name: ruff format
  entry: ruff format
  language: system
  require_serial: true

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

ruff-check:
  name: ruff check
  entry: ruff check
  language: system
  require_serial: true

restyle code with black check and black format
  examples/get_activation_bytes.py
  src/audible/aescipher.py
Due: ruff-format, ruff-check

ci(ruff): rework ruff remove black (#423)
  .pre-commit-config.yaml
  examples/get_activation_bytes.py
  noxfile.py
  poetry.lock
  pyproject.toml
  src/audible/aescipher.py
Due: ruff-format, check-toml, check-yaml, ruff-check

Merge branch 'master' into feat/custom-device (#431)
  .pre-commit-config.yaml
  examples/get_activation_bytes.py
  noxfile.py
  poetry.lock
  pyproject.toml
  src/audible/aescipher.py
Due: ruff-format, check-toml, check-yaml, ruff-check

Update datetime functions to use timezone awareness
  src/audible/auth.py
  src/audible/register.py
Due: ruff-format, ruff-check

Update datetime functions to use timezone awareness (#440)
  src/audible/auth.py
  src/audible/register.py
Due: ruff-format, ruff-check

docs: Add new API endpoint for actors
  docs/source/misc/external_api.rst
Due: none

Add new API endpoint for actors (#507)
  docs/source/misc/external_api.rst
Due: none

build(deps): Bump packages
  poetry.lock
Due: none

Refactor target_file type in Authenticator class.
  src/audible/auth.py
Due: ruff-format, ruff-check

Bump packages (#512)
  poetry.lock
  src/audible/auth.py
Due: ruff-format, ruff-check

Merge branch 'master' into feat/custom-device (#513)
  .github/workflows/constraints.txt
  .github/workflows/release.yml
  .github/workflows/tests.yml
  docs/requirements.txt
  docs/source/misc/external_api.rst
  poetry.lock
  src/audible/auth.py
Due: ruff-format, check-yaml, ruff-check

Update Audible version
  pyproject.toml
  src/audible/__init__.py
Due: ruff-format, check-toml, ruff-check

Update CHANGELOG.md
  CHANGELOG.md
Due: none

build: bump version to v0.10.0 (#522)
  CHANGELOG.md
  pyproject.toml
  src/audible/__init__.py
Due: ruff-format, check-toml, ruff-check

Update marketplaces.rst (Australia/NZ to com.au)
  docs/source/marketplaces/marketplaces.rst
Due: none

docs: Update marketplaces.rst (Australia/NZ to com.au) (#542)
  docs/source/marketplaces/marketplaces.rst
Due: none

Refactor exception hierarchy under AudibleError.
  src/audible/exceptions.py
Due: ruff-format, ruff-check

Refactor exception hierarchy under AudibleError. (#550)
  src/audible/exceptions.py
Due: ruff-format, ruff-check

Improve playwright login handling with error management
  src/audible/login.py
Due: ruff-format, ruff-check

Fix coverage artifact path in GitHub Actions workflow
  .github/workflows/tests.yml
Due: check-yaml

Add step to list files in test workflow for debugging
  .github/workflows/tests.yml
Due: check-yaml

Add `pwd` command and fix coverage file path in CI workflow
  .github/workflows/tests.yml
Due: check-yaml

Enable inclusion of hidden files in coverage artifacts
  .github/workflows/tests.yml
Due: check-yaml

Remove redundant file listing step from test workflow
  .github/workflows/tests.yml
Due: check-yaml

Fix coverage data upload (#592)
  .github/workflows/tests.yml
Due: check-yaml

Refactor condition in hook text validation logic.
  noxfile.py
Due: ruff-format, ruff-check

Use `.get()` to safely access `LOCALE_TEMPLATES`.
  src/audible/localization.py
Due: ruff-format, ruff-check

"Fix __all__ ordering in audible module for consistency
  src/audible/__init__.py
Due: ruff-format, ruff-check

Update pre-commit hook stages for consistency
  .pre-commit-config.yaml
Due: check-yaml

Update pre-commit hook stages for consistency (#593)
  .pre-commit-config.yaml
Due: check-yaml

Add GitHub token input to labeler workflow
  .github/workflows/labeler.yml
Due: check-yaml

Add GitHub token input to labeler workflow (#599)
  .github/workflows/labeler.yml
Due: check-yaml

Add hex color string formatting for all label colors
  .github/labels.yml
Due: check-yaml

Add hex color string formatting for all label colors (#600)
  .github/labels.yml
Due: check-yaml

Optimize locale search logic in localization module.
  src/audible/localization.py
Due: ruff-format, ruff-check

Refactor ruff check fixes (#594)
  noxfile.py
  src/audible/__init__.py
  src/audible/localization.py
Due: ruff-format, ruff-check

Refactor pyproject.toml to adopt PEP 621 format
  pyproject.toml
Due: check-toml

Update poetry.lock for Poetry 2.x generation
  poetry.lock
Due: none

ci: refactor pyproject.toml and poetry.lock to poetry 2.x (#621)
  poetry.lock
  pyproject.toml
Due: check-toml

docs: add `goodreads_ratings` response group to `catalog/products/ASIN`
  docs/source/misc/external_api.rst
Due: none

Path conditions:
  ruff-format: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  ruff-check: any of: \.py$
