Repository mkb79/Audible: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, check-toml, check-yaml, ruff-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: darglint
        name: darglint
        entry: darglint
        language: system
        types: [python]
        stages: [manual]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: ruff-check
        name: ruff check
        entry: ruff check
        language: system
        types: [python]
        require_serial: true
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier

chore(deps): resolve open Dependabot alerts
  pyproject.toml
  uv.lock
Due: check-toml

style(tests): drop redundant lambda flagged by the newer ruff
  tests/test_crypto.py
Due: ruff-format, ruff-check

docs(changelog): note the raised dependency floors
  CHANGELOG.md
Due: none

chore(deps): resolve open Dependabot alerts (#860)
  CHANGELOG.md
  pyproject.toml
  tests/test_crypto.py
  uv.lock
Due: ruff-format, check-toml, ruff-check

ci(release): restrict GITHUB_TOKEN permissions on the release job
  .github/workflows/release.yml
Due: check-yaml

ci(release): restrict GITHUB_TOKEN permissions on the release job (#861)
  .github/workflows/release.yml
Due: check-yaml

ci(docs): rename .readthedocs.yml to .readthedocs.yaml
  .readthedocs.yaml
Due: check-yaml

ci(docs): install Read the Docs dependencies with uv
  .readthedocs.yaml
  docs/requirements.txt
Due: check-yaml

ci(docs): install Read the Docs dependencies with uv (#863)
  .readthedocs.yaml
  docs/requirements.txt
Due: check-yaml

docs: build without warnings and keep it that way
  .readthedocs.yaml
  docs/source/conf.py
  docs/source/index.rst
  docs/source/modules/audible.rst
  noxfile.py
  src/audible/client.py
  src/audible/crypto_provider/protocols.py
Due: ruff-format, check-yaml, ruff-check

docs: build without warnings and keep it that way (#865)
  .readthedocs.yaml
  docs/source/conf.py
  docs/source/index.rst
  docs/source/modules/audible.rst
  noxfile.py
  src/audible/client.py
  src/audible/crypto_provider/protocols.py
Due: ruff-format, check-yaml, ruff-check

ci: replace tests.yml with a consolidated ci.yml
  .github/workflows/ci.yml
  .github/workflows/tests.yml
  renovate.json5
Due: check-yaml

ci: replace tests.yml with a consolidated ci.yml (#866)
  .github/workflows/ci.yml
  .github/workflows/tests.yml
  renovate.json5
Due: check-yaml

docs: fix the broken badges and keep both lists in sync
  README.md
  docs/source/index.rst
Due: none

docs: fix the broken badges and keep both lists in sync (#867)
  README.md
  docs/source/index.rst
Due: none

ci(deps): raise vulnerable floors and fix Renovate commit types
  .github/workflows/constraints.txt
  renovate.json5
Due: none

ci(renovate): make security fixes reach the published constraint (#868)
  .github/workflows/constraints.txt
  renovate.json5
Due: none

ci(security): audit the whole lock and split security out of CI
  .github/workflows/ci.yml
  .github/workflows/security.yml
  AGENTS.md
  CLAUDE.md
  noxfile.py
  pyproject.toml
  renovate.json5
  uv.lock
Due: ruff-format, check-toml, check-yaml, ruff-check

ci(security): audit the whole lock and split security out of CI (#869)
  .github/workflows/ci.yml
  .github/workflows/security.yml
  AGENTS.md
  CLAUDE.md
  noxfile.py
  pyproject.toml
  renovate.json5
  uv.lock
Due: ruff-format, check-toml, check-yaml, ruff-check

docs: add a security policy
  SECURITY.md
Due: none

docs: add a security policy (#870)
  SECURITY.md
Due: none

ci(security): run Scorecard on master pushes too
  .github/workflows/security.yml
Due: check-yaml

ci(security): run Scorecard on master pushes too (#871)
  .github/workflows/security.yml
Due: check-yaml

ci: pin actions to commit SHAs and add CODEOWNERS
  .github/CODEOWNERS
  .github/workflows/ci.yml
  .github/workflows/claude.yml
  .github/workflows/security.yml
Due: check-yaml

ci: pin actions to commit SHAs and add CODEOWNERS (#872)
  .github/CODEOWNERS
  .github/workflows/ci.yml
  .github/workflows/claude.yml
  .github/workflows/security.yml
Due: check-yaml

ci(release): configure commitizen and freeze published changelog entries
  .changelog-manifest.json
  CHANGELOG.md
  pyproject.toml
  tests/test_changelog_integrity.py
  uv.lock
Due: ruff-format, check-toml, ruff-check

ci(release): configure commitizen and freeze published changelog entries (#873)
  .changelog-manifest.json
  CHANGELOG.md
  pyproject.toml
  tests/test_changelog_integrity.py
  uv.lock
Due: ruff-format, check-toml, ruff-check

ci(release): require the changelog manifest to be append-only
  .github/workflows/ci.yml
  tools/check_manifest_append_only.py
Due: ruff-format, check-yaml, ruff-check

ci(release): require the changelog manifest to be append-only (#874)
  .github/workflows/ci.yml
  tools/check_manifest_append_only.py
Due: ruff-format, check-yaml, ruff-check

ci(release): add the changelog surgery a release performs
  noxfile.py
  pyproject.toml
  tests/test_changelog_integrity.py
  tests/test_prepare_release.py
  tools/changelog.py
  tools/prepare_release.py
Due: ruff-format, check-toml, ruff-check

ci(release): add the changelog surgery a release performs (#875)
  noxfile.py
  pyproject.toml
  tests/test_changelog_integrity.py
  tests/test_prepare_release.py
  tools/changelog.py
  tools/prepare_release.py
Due: ruff-format, check-toml, ruff-check

ci(release): propose releases as a pull request
  .github/workflows/release-pr.yml
Due: check-yaml

ci: require conventional commit titles on pull requests
  .github/workflows/pr-title.yml
  noxfile.py
  pyproject.toml
  tests/test_commit_messages.py
  tools/check_pr_message.py
Due: ruff-format, check-toml, check-yaml, ruff-check

ci: require conventional commit titles on pull requests
  .github/workflows/pr-title.yml
  pyproject.toml
Due: check-toml, check-yaml

ci(release): derive version and changelog with git-cliff
  .github/workflows/release-pr.yml
  cliff.toml
  noxfile.py
  pyproject.toml
  tests/test_version_rules.py
  tools/changelog.py
  uv.lock
Due: ruff-format, check-toml, check-yaml, ruff-check

ci(release): keep breaking commits of skipped types readable
  cliff.toml
  tests/test_version_rules.py
Due: ruff-format, check-toml, ruff-check

ci(release): anchor commit types and align tag detection
  .github/workflows/release-pr.yml
  cliff.toml
  tests/test_version_rules.py
Due: ruff-format, check-toml, check-yaml, ruff-check

ci(release): let a Changelog footer override what a commit type implies
  cliff.toml
  tests/test_version_rules.py
Due: ruff-format, check-toml, ruff-check

ci: describe the release policy accurately in the title guide
  .github/workflows/pr-title.yml
Due: check-yaml

ci(release): pin the policy edges the review probed
  cliff.toml
  tests/test_version_rules.py
Due: ruff-format, check-toml, ruff-check
