Repository mkb79/Audible: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, check-toml, check-yaml, ruff-check

ruff-format:
  name: ruff format
  entry: ruff format
  language: system
  require_serial: true

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

ruff-check:
  name: ruff check
  entry: ruff check
  language: system
  require_serial: true

ci: require conventional commit titles on pull requests (#877)
  .github/workflows/pr-title.yml
  pyproject.toml
Due: check-toml, check-yaml

ci(release): publish after the release pull request merges
  .github/workflows/release-pr.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .release-bodies.json
  pyproject.toml
  tests/test_release_tools.py
  tools/check_release_bodies.py
  tools/print_section.py
  tools/verify_release_commit.py
  uv.lock
Due: ruff-format, check-toml, check-yaml, ruff-check

ci(release): make every finding of the publish review unreachable
  .github/workflows/release.yml
  build-constraints.txt
  renovate.json5
  tests/test_release_tools.py
  tools/check_release_bodies.py
Due: ruff-format, check-yaml, ruff-check

ci(release): propose and publish releases from one merged pull request (#876)
  .github/workflows/release-pr.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .release-bodies.json
  build-constraints.txt
  cliff.toml
  noxfile.py
  pyproject.toml
  renovate.json5
  tests/test_release_tools.py
  tests/test_version_rules.py
  tools/changelog.py
  tools/check_release_bodies.py
  tools/print_section.py
  tools/verify_release_commit.py
  uv.lock
Due: ruff-format, check-toml, check-yaml, ruff-check

chore(release): v0.12.0
  .changelog-manifest.json
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: check-toml

chore(release): v0.12.0 (#878)
  .changelog-manifest.json
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: check-toml

ci(release): conclude tag absence only from an explicit 404
  .github/workflows/release.yml
Due: check-yaml

ci(release): conclude tag absence only from an explicit 404 (#879)
  .github/workflows/release.yml
Due: check-yaml

ci(release): read the tag with the workflow token, create with the app
  .github/workflows/release.yml
Due: check-yaml

ci(release): read the tag with the workflow token, create with the app (#880)
  .github/workflows/release.yml
Due: check-yaml

ci: probe what the release app token can actually do
  .github/workflows/debug-app-token.yml
Due: check-yaml

ci: allow dispatching the probe
  .github/workflows/debug-app-token.yml
Due: check-yaml

ci: create the release tag through the proven path
  .github/workflows/debug-app-token.yml
Due: check-yaml

ci: also run on the pull request
  .github/workflows/debug-app-token.yml
Due: check-yaml

ci: push the tag over the git protocol instead
  .github/workflows/debug-app-token.yml
Due: check-yaml

ci(release): mint the tag token with the workflows permission
  .github/workflows/release.yml
Due: check-yaml

ci(release): mint the tag token with the workflows permission (#882)
  .github/workflows/release.yml
Due: check-yaml

ci: retire the workflows the release rebuild replaced
  .github/labels.yml
  .github/release-drafter.yml
  .github/workflows/labeler.yml
  .github/workflows/stale.yml
  .github/workflows/uv-lock-maintenance.yml
  renovate.json5
Due: check-yaml

docs: show pending changes on the changelog page
  .readthedocs.yaml
  docs/source/conf.py
  docs/source/misc/changelog.md
  pyproject.toml
  tests/test_unreleased_docs.py
  tools/unreleased_docs.py
  uv.lock
Due: ruff-format, check-toml, check-yaml, ruff-check

docs: harden the pending-changes generator against every failure path
  .readthedocs.yaml
  docs/source/conf.py
  pyproject.toml
  tests/test_unreleased_docs.py
  tools/unreleased_docs.py
Due: ruff-format, check-toml, check-yaml, ruff-check

docs: separate the unreleased block with a thematic break
  tools/unreleased_docs.py
Due: ruff-format, ruff-check

ci: retire the workflows the release rebuild replaced (#883)
  .github/labels.yml
  .github/release-drafter.yml
  .github/workflows/labeler.yml
  .github/workflows/stale.yml
  .github/workflows/uv-lock-maintenance.yml
  renovate.json5
Due: check-yaml

docs: show pending changes on the changelog page (#884)
  .readthedocs.yaml
  docs/source/conf.py
  docs/source/misc/changelog.md
  pyproject.toml
  tests/test_unreleased_docs.py
  tools/unreleased_docs.py
  uv.lock
Due: ruff-format, check-toml, check-yaml, ruff-check

docs(changelog): nest the 0.9.0 and 0.9.1 Bugfix headings correctly
  .changelog-manifest.json
  CHANGELOG.md
Due: none

docs(changelog): nest the 0.9.0 and 0.9.1 Bugfix headings correctly (#885)
  .changelog-manifest.json
  CHANGELOG.md
Due: none

ci: set workflow-level token permissions on claude.yml
  .github/workflows/claude.yml
Due: check-yaml

ci: set workflow-level token permissions on claude.yml (#886)
  .github/workflows/claude.yml
Due: check-yaml

ci(deps): type build-constraints.txt updates as build(deps)
  renovate.json5
Due: none

ci: point the dependency-review-action pin comment at its real tag
  .github/workflows/security.yml
Due: check-yaml

ci(deps): type build-constraints.txt updates as build(deps) (#887)
  renovate.json5
Due: none

ci: point the dependency-review-action pin comment at its real tag (#888)
  .github/workflows/security.yml
Due: check-yaml

docs: document the release process in CLAUDE.md
  CLAUDE.md
Due: none

docs: document the release process in CLAUDE.md (#889)
  CLAUDE.md
Due: none

refactor(client): import HeaderTypes from its defining httpx module
  src/audible/client.py
Due: ruff-format, ruff-check

refactor(client): import HeaderTypes from its defining httpx module (#890)
  src/audible/client.py
Due: ruff-format, ruff-check

ci(deps): update pip to v26.2.1 [security]
  uv.lock
Due: none

ci(deps): update pip to v26.2.1 [security] (#898)
  uv.lock
Due: none

Allow either "RSA PRIVATE KEY" or "PRIVATE KEY"
  pyproject.toml
  src/audible/crypto_provider/legacy_provider.py
  src/audible/utils.py
  uv.lock
Due: ruff-format, check-toml, ruff-check

Path conditions:
  ruff-format: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  ruff-check: any of: \.py$
