Repository mkb79/Audible: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, check-toml, check-yaml, ruff-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: darglint
        name: darglint
        entry: darglint
        language: system
        types: [python]
        stages: [manual]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: ruff-check
        name: ruff check
        entry: ruff check
        language: system
        types: [python]
        require_serial: true
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier

test(quick-wins): cover exceptions, localization, and logging
  tests/unit/test_exceptions.py
  tests/unit/test_localization.py
  tests/unit/test_logging.py
Due: ruff-format, ruff-check

chore(coverage): raise fail_under to 50 after Phase 1
  ai-plans/EXECUTIVE_SUMMARY.md
  ai-plans/MASTER_PLAN.md
  ai-plans/PHASE_1_QUICK_WINS.md
  ai-plans/PHASE_2_CORE.md
  ai-plans/PHASE_3_COMPLEX.md
  ai-plans/README.md
  ai-plans/scripts/update_coverage_threshold.py
  pyproject.toml
Due: ruff-format, check-toml, ruff-check

feat(crypto): add abstraction layer for optional pycryptodome support
  src/audible/crypto/__init__.py
  src/audible/crypto/legacy_provider.py
  src/audible/crypto/protocols.py
  src/audible/crypto/pycryptodome_provider.py
  src/audible/crypto/registry.py
Due: ruff-format, ruff-check

feat(crypto): integrate crypto providers into existing code
  src/audible/aescipher.py
  src/audible/auth.py
Due: ruff-format, ruff-check

build: add optional pycryptodome dependency
  pyproject.toml
  uv.lock
Due: check-toml

docs: add pycryptodome installation instructions and performance info
  README.md
  docs/source/intro/install.rst
Due: none

chore: add .session_exports/ to gitignore
  .gitignore
  src/audible/crypto/legacy_provider.py
  src/audible/crypto/protocols.py
  src/audible/crypto/pycryptodome_provider.py
  src/audible/crypto/registry.py
Due: ruff-format, ruff-check

test(crypto): add comprehensive unit tests and fix PR review issues
  noxfile.py
  pyproject.toml
  src/audible/crypto/legacy_provider.py
  src/audible/crypto/pycryptodome_provider.py
  src/audible/crypto/registry.py
  tests/test_crypto.py
Due: ruff-format, check-toml, ruff-check

fix(workflow): add pull-requests write permission for Claude reviews
  .github/workflows/claude-code-review.yml
Due: check-yaml

fix(workflow): add pull-requests write permission for Claude reviews (#823)
  .github/workflows/claude-code-review.yml
Due: check-yaml

fix(claude): allow gh pr comment in settings, revert workflow permissions
  .claude/settings.json
  .github/workflows/claude-code-review.yml
Due: check-yaml

fix(claude): allow gh pr comment in settings, revert workflow permissions (#824)
  .claude/settings.json
  .github/workflows/claude-code-review.yml
Due: check-yaml

fix(crypto): address follow-up review feedback
  src/audible/auth.py
  src/audible/crypto/protocols.py
  src/audible/crypto/pycryptodome_provider.py
  tests/test_crypto.py
Due: ruff-format, ruff-check

refactor: streamline Claude Code Review to focus on bugs and security (#806)
  .github/workflows/claude-code-review.yml
Due: check-yaml

fix(crypto): address security vulnerabilities and improve error handling
  ai-plans/pr-822-security-fixes-plan.md
  src/audible/auth.py
  src/audible/crypto/legacy_provider.py
  src/audible/crypto/pycryptodome_provider.py
  src/audible/crypto/registry.py
  tests/test_auth.py
  tests/test_crypto.py
Due: ruff-format, ruff-check

docs(plan): add cryptography provider implementation plan
  ai-plans/cryptography-provider-implementation-plan.md
Due: none

feat(crypto): add pluggable provider backends
  src/audible/crypto/__init__.py
  src/audible/crypto/cryptography_provider.py
  src/audible/crypto/legacy_provider.py
  src/audible/crypto/protocols.py
  src/audible/crypto/pycryptodome_provider.py
  src/audible/crypto/registry.py
  tests/conftest.py
  tests/fixtures/auth_fixture.json
  tests/fixtures/auth_fixture_encrypted_bytes.bin
  tests/fixtures/auth_fixture_encrypted_json.json
  tests/test_crypto.py
Due: ruff-format, ruff-check

feat(auth): allow overriding crypto providers
  src/audible/aescipher.py
  src/audible/auth.py
  tests/test_auth.py
Due: ruff-format, ruff-check

chore(deps): add dedicated crypto extras
  noxfile.py
  pyproject.toml
  uv.lock
Due: ruff-format, check-toml, ruff-check

docs(crypto): document provider overrides and extras
  AGENTS.md
  CLAUDE.md
  README.md
  docs/source/intro/install.rst
Due: none

docs(auth): remove duplicate crypto_provider attribute
  src/audible/aescipher.py
Due: ruff-format, ruff-check

test(crypto): cover provider overrides and fixtures
  tests/conftest.py
  tests/test_auth.py
  tests/test_crypto.py
Due: ruff-format, ruff-check

docs(examples): add manual crypto smoke scripts
  examples/test_auth_integration.py
  examples/test_crypto_autodetect.py
  examples/test_crypto_explicit.py
Due: ruff-format, ruff-check

chore(tests): satisfy lint for crypto overrides
  examples/test_auth_integration.py
  examples/test_crypto_explicit.py
  tests/conftest.py
  tests/test_auth.py
  tests/test_crypto.py
Due: ruff-format, ruff-check

fix(crypto): address review feedback
  src/audible/aescipher.py
  src/audible/crypto/cryptography_provider.py
  src/audible/crypto/legacy_provider.py
  src/audible/crypto/pycryptodome_provider.py
  src/audible/crypto/registry.py
  tests/test_crypto.py
Due: ruff-format, ruff-check

fix(mypy): tighten crypto provider typing
  src/audible/crypto/__init__.py
  src/audible/crypto/protocols.py
  src/audible/crypto/registry.py
  tests/conftest.py
  tests/test_auth.py
Due: ruff-format, ruff-check

refactor(crypto): replace os.urandom with secrets.token_bytes
  src/audible/aescipher.py
Due: ruff-format, ruff-check

docs(ai-plans): replace outdated plans with Claude Code Review action plan
  ai-plans/claude-code-review-fixes.md
  ai-plans/cryptography-provider-implementation-plan.md
  ai-plans/pr-822-security-fixes-plan.md
Due: none

fix(crypto): prevent SHA-1 deprecation warning spam
  src/audible/crypto/cryptography_provider.py
  src/audible/crypto/legacy_provider.py
  src/audible/crypto/pycryptodome_provider.py
Due: ruff-format, ruff-check

refactor(crypto): improve error messages and type annotations
  src/audible/crypto/cryptography_provider.py
  src/audible/crypto/registry.py
Due: ruff-format, ruff-check

docs: add version requirement for crypto features
  README.md
  docs/source/intro/install.rst
Due: none

docs(changelog): add crypto backend feature to unreleased section
  CHANGELOG.md
Due: none

refactor(crypto): remove redundant lru_cache from cryptography provider
  src/audible/crypto/cryptography_provider.py
Due: ruff-format, ruff-check

refactor(crypto): remove redundant lru_cache from pycryptodome and legacy providers
  src/audible/crypto/legacy_provider.py
  src/audible/crypto/pycryptodome_provider.py
Due: ruff-format, ruff-check

docs(changelog): update RSA caching documentation
  CHANGELOG.md
Due: none

feat: add optional high-performance crypto backends (cryptography/pycryptodome)
  .gitignore
  AGENTS.md
  CHANGELOG.md
  CLAUDE.md
  README.md
  ai-plans/claude-code-review-fixes.md
  docs/source/intro/install.rst
  examples/test_auth_integration.py
  examples/test_crypto_autodetect.py
  examples/test_crypto_explicit.py
  noxfile.py
  pyproject.toml
  src/audible/aescipher.py
  src/audible/auth.py
  src/audible/crypto/__init__.py
  src/audible/crypto/cryptography_provider.py
  src/audible/crypto/legacy_provider.py
  src/audible/crypto/protocols.py
  src/audible/crypto/pycryptodome_provider.py
  src/audible/crypto/registry.py
  tests/conftest.py
  tests/fixtures/auth_fixture.json
  tests/fixtures/auth_fixture_encrypted_bytes.bin
  tests/fixtures/auth_fixture_encrypted_json.json
  tests/test_auth.py
  tests/test_crypto.py
  uv.lock
Due: ruff-format, check-toml, ruff-check

docs: add comprehensive JSON backend implementation plan
  ai-plans/json-backend-implementation-plan.md
Due: none

feat(json): implement JSON provider module structure (Phase 1/8)
  ai-plans/claude-code-review-fixes.md
  ai-plans/json-backend-implementation-plan.md
  src/audible/json/__init__.py
  src/audible/json/orjson_provider.py
  src/audible/json/protocols.py
  src/audible/json/rapidjson_provider.py
  src/audible/json/registry.py
  src/audible/json/stdlib_provider.py
  src/audible/json/ujson_provider.py
Due: ruff-format, ruff-check

build: add json-full extras to nox sessions and pyproject.toml
  noxfile.py
  pyproject.toml
  uv.lock
Due: ruff-format, check-toml, ruff-check

test(json): add comprehensive test suite for JSON providers (Phase 2/8)
  tests/test_json.py
  tests/test_json_fallback.py
  tests/test_json_integration.py
Due: ruff-format, ruff-check
