Repository mkb79/Audible: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, check-toml, check-yaml, ruff-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: darglint
        name: darglint
        entry: darglint
        language: system
        types: [python]
        stages: [manual]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: ruff-check
        name: ruff check
        entry: ruff check
        language: system
        types: [python]
        require_serial: true
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier

refactor: comprehensive test refactoring with pytest-httpx and fixtures
  tests/fixtures/client_fixtures.py
  tests/fixtures/localization_fixtures.py
  tests/unit/test_auth.py
  tests/unit/test_localization.py
  tests/unit/test_main.py
Due: ruff-format, ruff-check

fix: resolve pre-commit linting issues
  tests/fixtures/localization_fixtures.py
  tests/unit/test_auth.py
  tests/unit/test_localization.py
Due: ruff-format, ruff-check

docs: update ai-plans with Phase 3 progress
  ai-plans/EXECUTIVE_SUMMARY.md
  ai-plans/PHASE_3_COMPLEX.md
Due: none

test: add metadata tests (92% coverage achieved!)
  ai-plans/EXECUTIVE_SUMMARY.md
  ai-plans/PHASE_3_COMPLEX.md
  tests/unit/test_metadata.py
Due: ruff-format, ruff-check

test: add activation_bytes tests (98% coverage achieved!)
  tests/unit/test_activation_bytes.py
Due: ruff-format, ruff-check

docs: update ai-plans with activation_bytes completion
  ai-plans/EXECUTIVE_SUMMARY.md
  ai-plans/PHASE_3_COMPLEX.md
Due: none

fix: resolve pre-commit linting issues
  ai-plans/EXECUTIVE_SUMMARY.md
  tests/unit/test_activation_bytes.py
Due: ruff-format, ruff-check

feat(device): add comprehensive device emulation system with Android support
  src/audible/auth.py
  src/audible/device.py
Due: ruff-format, ruff-check

refactor(device): restructure to BaseDevice + iOS/Android subclasses
  src/audible/auth.py
  src/audible/device.py
Due: ruff-format, ruff-check

docs(plan): add comprehensive device emulation roadmap
  .ai-plans/device-emulation-roadmap.md
Due: none

feat(device): integrate device emulation into login/register/auth
  .ai-plans/device-emulation-roadmap.md
  pyproject.toml
  src/audible/auth.py
  src/audible/device.py
  src/audible/login.py
  src/audible/register.py
Due: ruff-format, check-toml, ruff-check

refactor(device): remove unnecessary Device=BaseDevice alias
  src/audible/device.py
Due: ruff-format, ruff-check

test: add comprehensive device integration test script
  test_device_integration.py
Due: ruff-format, ruff-check

feat(test): add internal login option to device integration test
  test_device_integration.py
Due: ruff-format, ruff-check

fix(utils): accept base64-DER format for Android device_private_key
  src/audible/utils.py
Due: ruff-format, ruff-check

refactor(utils): make device_private_key validation more specific
  src/audible/utils.py
Due: ruff-format, ruff-check

fix(register): convert Android base64-DER certificate to PEM format
  src/audible/register.py
  src/audible/utils.py
Due: ruff-format, ruff-check

refactor(register): use content-based format detection for certificate conversion
  src/audible/register.py
Due: ruff-format, ruff-check

test: add comprehensive device and auth integration tests
  src/audible/auth.py
  tests/test_auth.py
  tests/test_device.py
Due: ruff-format, ruff-check

refactor: rename IPHONE_16 to IPHONE_OS26 with updated iOS 26.1 specs
  .ai-plans/device-emulation-roadmap.md
  src/audible/device.py
  test_device_integration.py
  tests/test_auth.py
  tests/test_device.py
Due: ruff-format, ruff-check

style: apply pre-commit formatting fixes
  src/audible/register.py
  test_device_integration.py
  tests/test_auth.py
  tests/test_device.py
Due: ruff-format, ruff-check

fix: add type annotations for mypy compatibility
  tests/test_auth.py
Due: ruff-format, ruff-check

style: fix ruff linting errors
  tests/test_auth.py
  tests/test_device.py
Due: ruff-format, ruff-check

fix(docs): add missing Raises section and pre-merge cleanup checklist
  .ai-plans/device-emulation-roadmap.md
  .pre-commit-config.yaml
  src/audible/login.py
Due: ruff-format, check-yaml, ruff-check

fix: correct Android PKCS#8 private key conversion using pyasn1
  pyproject.toml
  src/audible/register.py
  uv.lock
Due: ruff-format, check-toml, ruff-check

docs(roadmap): update implementation status - Phases 1-4 completed
  .ai-plans/device-emulation-roadmap.md
Due: none

docs(roadmap): add Phase 4.5 (unit tests) and Phase 4.6 (complexity refactoring)
  .ai-plans/device-emulation-roadmap.md
Due: none

docs: update Phase 4.6 to class-based refactoring approach
  .ai-plans/device-emulation-roadmap.md
Due: none

refactor: split LoginService to avoid monster class
  .ai-plans/device-emulation-roadmap.md
Due: none

feat: implement LoginService + ChallengeHandler classes
  src/audible/login_service.py
Due: ruff-format, ruff-check

feat: implement RegistrationService class
  src/audible/registration_service.py
Due: ruff-format, ruff-check

refactor: integrate service classes and deprecate old functions
  .ai-plans/device-emulation-roadmap.md
  pyproject.toml
  src/audible/__init__.py
  src/audible/login.py
  src/audible/login_service.py
  src/audible/metadata.py
  src/audible/register.py
  src/audible/registration_service.py
Due: ruff-format, check-toml, ruff-check

ci: Update linting and test config, add .prettierignore
  .pre-commit-config.yaml
  .prettierignore
  pyproject.toml
Due: check-toml, check-yaml

ci: Add type hints to combine_seasonal_cols function
  examples/listening_stats.py
Due: ruff-format, ruff-check

Update Ruff lint ignore and per-file-ignores
  pyproject.toml
Due: check-toml

Add blank line for readability in listening_stats.py
  examples/listening_stats.py
Due: ruff-format, ruff-check

Refactor device integration test for modularity
  test_device_integration.py
Due: ruff-format, ruff-check

Remove unused USER_AGENT constant from login.py
  src/audible/login.py
Due: ruff-format, ruff-check

Improve approval alert handling in ChallengeHandler
  src/audible/login_service.py
Due: ruff-format, ruff-check

refactor(login): introduce modular challenge-based service
  src/audible/login_service.py
  src/audible/login_service/__init__.py
  src/audible/login_service/base.py
  src/audible/login_service/challenges/__init__.py
  src/audible/login_service/challenges/approval_alert.py
  src/audible/login_service/challenges/captcha.py
  src/audible/login_service/challenges/cvf.py
  src/audible/login_service/challenges/mfa_choice.py
  src/audible/login_service/challenges/otp.py
  src/audible/login_service/exceptions.py
  src/audible/login_service/login.py
  src/audible/login_service/metadata1.py
  src/audible/login_service/pkce.py
  src/audible/login_service/soup_page.py
  src/audible/login_service/url_builder.py
  tests/login_service/mocks.py
Due: ruff-format, ruff-check
