Repository mkb79/Audible: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, check-toml, check-yaml, ruff-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: darglint
        name: darglint
        entry: darglint
        language: system
        types: [python]
        stages: [manual]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: ruff-check
        name: ruff check
        entry: ruff check
        language: system
        types: [python]
        require_serial: true
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier

chore(examples, src): add noqa comments for linter compliance
  examples/listening_stats.py
  src/audible/login.py
Due: ruff-format, ruff-check

docs(conf.py): add type hints configuration to fix httpx headers warning
  docs/source/conf.py
Due: ruff-format, ruff-check

docs(README.md): update badges to improve clarity and add testing coverage
  README.md
Due: none

docs(conf.py): correct typo in comment for type hints configuration
  docs/source/conf.py
Due: ruff-format, ruff-check

docs(CHANGELOG.md): fix heading hierarchy for bugfix sections in version updates
  CHANGELOG.md
Due: none

docs: Complete documentation overhaul
  docs/source/auth/authentication.rst
  docs/source/auth/authorization.rst
  docs/source/auth/register.rst
  docs/source/index.rst
  docs/source/intro/getting_started.rst
  docs/source/intro/quickstart.rst
  docs/source/intro/understanding.rst
  docs/source/marketplaces/marketplaces.rst
  docs/source/misc/advanced.rst
  docs/source/misc/examples.rst
  docs/source/misc/external_api.rst
  docs/source/misc/load_save.rst
  docs/source/misc/logging.rst
Due: none

docs: reorganize documentation structure
  docs/source/advanced/client_api.rst
  docs/source/advanced/logging.rst
  docs/source/core/async.rst
  docs/source/core/load_save.rst
  docs/source/help/changelog.md
  docs/source/help/examples.rst
  docs/source/help/external_api.rst
  docs/source/help/faq.rst
  docs/source/help/troubleshooting.rst
Due: none

docs: add skill-level badges and improve navigation
  docs/source/auth/authentication.rst
  docs/source/auth/authorization.rst
  docs/source/auth/register.rst
  docs/source/conf.py
  docs/source/index.rst
  docs/source/intro/install.rst
  docs/source/intro/quickstart.rst
  docs/source/intro/understanding.rst
  docs/source/marketplaces/marketplaces.rst
  docs/source/modules/audible.rst
Due: ruff-format, ruff-check

docs: add theme switcher and custom styling
  docs/source/_static/custom.css
  docs/source/_static/custom.js
Due: none

docs: update documentation dependencies
  docs/requirements.txt
  pyproject.toml
  uv.lock
Due: check-toml

style: reformat docs assets
  docs/source/_static/custom.css
  docs/source/_static/custom.js
  docs/source/auth/authentication.rst
  docs/source/auth/register.rst
  docs/source/conf.py
  docs/source/help/troubleshooting.rst
  docs/source/intro/quickstart.rst
  docs/source/intro/understanding.rst
Due: ruff-format, ruff-check

docs: add AI assistant guidance files
  AGENTS.md
  CLAUDE.md
Due: none

docs: add AI assistant guidance files (#803)
  AGENTS.md
  CLAUDE.md
Due: none

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: check-yaml

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: check-yaml

fix: remove trailing blank lines from workflow files
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: check-yaml

ci: Add claude GitHub actions (#804)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: check-yaml

security: add explicit permissions to tests workflow
  .github/workflows/tests.yml
Due: check-yaml

security: add explicit permissions to tests workflow (#805)
  .github/workflows/tests.yml
Due: check-yaml

refactor: simplify Claude Code Review prompt
  .github/workflows/claude-code-review.yml
Due: check-yaml

ci: add concurrency groups to prevent duplicate workflow runs
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: check-yaml

chore: add Claude Code settings for gh CLI permissions
  .claude/settings.json
Due: none

chore: add gh pr create permission to Claude settings
  .claude/settings.json
Due: none

chore: add comprehensive read permissions for gh CLI
  .claude/settings.json
Due: none

fix: correct settings.json structure to use permissions object
  .claude/settings.json
Due: none

docs: document Claude Code integration in CLAUDE.md
  CLAUDE.md
Due: none

fix: apply pre-commit auto-fixes for markdown formatting
  CLAUDE.md
Due: none

refactor: use official permissions structure and add comprehensive docs
  .claude/settings.json
  CLAUDE.md
Due: none

feat: add pr files listing and API rate limit monitoring
  .claude/settings.json
  CLAUDE.md
Due: none

docs: add comprehensive documentation for all gh CLI permissions
  CLAUDE.md
Due: none

chore: add chore: add Claude Code settings for GitHub CLI integration
  .claude/settings.json
  CLAUDE.md
Due: none

chore: add Renovate config for uv (dev lockfile grouped, prod lockfile per-package, split security)
  .github/dependabot.yml
  renovate.json5
Due: check-yaml

chore: migrate from Dependabot to Renovate (#810)
  .github/dependabot.yml
  renovate.json5
Due: check-yaml

chore: refine Renovate configuration
  renovate.json5
Due: none

chore: refine Renovate configuration (#812)
  renovate.json5
Due: none

chore: exclude renovate.json5 from prettier hook
  .pre-commit-config.yaml
Due: check-yaml

chore: exclude renovate.json5 from prettier hook (#816)
  .pre-commit-config.yaml
Due: check-yaml

docs: add comprehensive test coverage improvement plan
  ai-plans/EXECUTIVE_SUMMARY.md
  ai-plans/MASTER_PLAN.md
  ai-plans/PHASE_1_QUICK_WINS.md
  ai-plans/PHASE_2_CORE.md
  ai-plans/PHASE_3_COMPLEX.md
  ai-plans/README.md
  scripts/update_coverage_threshold.py
Due: ruff-format, ruff-check

docs: move automation script to ai-plans/scripts and update documentation
  ai-plans/MASTER_PLAN.md
  ai-plans/scripts/update_coverage_threshold.py
Due: ruff-format, ruff-check

test(utils): add coverage for validator helpers
  pyproject.toml
  tests/conftest.py
  tests/unit/test_client_helpers.py
  tests/unit/test_utils.py
Due: ruff-format, check-toml, ruff-check
