Repository mkb79/Audible: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, check-toml, check-yaml, ruff-check

ruff-format:
  name: ruff format
  entry: ruff format
  language: system
  require_serial: true

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

ruff-check:
  name: ruff check
  entry: ruff check
  language: system
  require_serial: true

docs: add `goodreads_ratings` response group to `catalog/products/ASIN` (#623)
  docs/source/misc/external_api.rst
Due: none

Update getting_started.rst
  docs/source/intro/getting_started.rst
Due: none

Update getting_started.rst (#642)
  docs/source/intro/getting_started.rst
Due: none

Refactor login methods to use async/await
  src/audible/auth.py
  src/audible/login.py
  src/audible/register.py
Due: ruff-format, ruff-check

Update playwright login helper for configurability and clarity
  src/audible/login.py
Due: ruff-format, ruff-check

Refactor constant naming to follow Python conventions
  src/audible/login.py
Due: ruff-format, ruff-check

Update poetry.lock file using poetry 2.1.2
  poetry.lock
Due: none

Undo updates
  poetry.lock
Due: none

Update `poetry.lock` for dependency adjustments
  poetry.lock
Due: none

Update poetry.lock file using poetry 2.1.2 (#650)
  poetry.lock
Due: none

Potential fix for code scanning alert no. 7: Workflow does not contain permissions
  .github/workflows/labeler.yml
Due: check-yaml

Potential fix for code scanning alert no. 7: Workflow does not contain permissions (#659)
  .github/workflows/labeler.yml
Due: check-yaml

ci: Update Dependabot config to set PR limits
  .github/dependabot.yml
Due: check-yaml

Fix formatting in dependabot configuration file
  .github/dependabot.yml
Due: check-yaml

Fix indentation in dependabot configuration file
  .github/dependabot.yml
Due: check-yaml

Rise dependabot open pull requests limit (#660)
  .github/dependabot.yml
Due: check-yaml

Fix concatenated string formatting for better readability.
  examples/download_bookmarks.py
  examples/download_books_aax.py
  src/audible/auth.py
  src/audible/login.py
  src/audible/utils.py
Due: ruff-format, ruff-check

refactor playwright login callback (#648)
  src/audible/login.py
Due: ruff-format, ruff-check

Use `importlib.metadata` to dynamically set `__version__`
  src/audible/__init__.py
Due: ruff-format, ruff-check

Update version extraction to use pyproject.toml
  docs/source/conf.py
Due: ruff-format, ruff-check

Update contributing guide to use 'uv' instead of 'poetry'
  CONTRIBUTING.md
Due: none

Update dependency constraints in workflow configuration
  .github/workflows/constraints.txt
Due: none

Add `uv.lock` dependency lockfile
  uv.lock
Due: none

Remove `poetry.lock` from the repository.
  poetry.lock
Due: none

Refactor pyproject.toml for Hatch and dependency groups
  pyproject.toml
Due: check-toml

Refactor noxfile to leverage nox-uv and improve session handling
  noxfile.py
Due: ruff-format, ruff-check

Add UV tool configuration to pyproject.toml
  pyproject.toml
Due: check-toml

Update GitHub Actions tests workflow for uv support
  .github/workflows/tests.yml
Due: check-yaml

Fix syntax for PYTHON_VERSION in workflow file
  .github/workflows/tests.yml
Due: check-yaml

Fix dependency installation command in workflow
  .github/workflows/tests.yml
Due: check-yaml

Remove unnecessary blank lines in workflow file
  .github/workflows/tests.yml
Due: check-yaml

try to fix coverage session in gh action tests
  .github/workflows/tests.yml
Due: check-yaml

fix 2
  .github/workflows/tests.yml
Due: check-yaml

next test
  pyproject.toml
Due: check-toml

Update coverage source paths in pyproject.toml
  pyproject.toml
Due: check-toml

next test
  .github/workflows/tests.yml
Due: check-yaml

next test
  .github/workflows/tests.yml
  pyproject.toml
Due: check-toml, check-yaml

Path conditions:
  ruff-format: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  ruff-check: any of: \.py$
